
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.logo{
    display: flex;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0025ff;
    
}

.img{
    width: 70px;
    height: 80%;
    background-image: url("./images/pepsi-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-links{
    width: 85%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

a{
    text-decoration: none;
    color: white;

} 

.nav-links li{
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.main-image img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.pepsi-header{
    color: #FFFFFF;
   text-align: center;
   background-color: #000000;
   margin-top: 0;
}

.pepsi-header h2{
    font-size: 61px;
    line-height: 61px;
}

.BTN{
    background-color: #0025ff;
    color: #FFFFFF;
   font-size: 23px;
   margin: 23px 0px 29.9px;
   padding: 13.8px 23px;
}

.pepsi-dinner-header h2{
    color: #FFFFFF;
    font-size: 32px;
}

 .electric-blue-text  {
    color: #1636ff;
    font-size: 20px;
}
h3{
    color: #FFFFFF;
    font-size: 50px;
}
span.electric-blue-text{
    color: #1636ff;
    font-size: 50px;
}

p{
    color: #FFFFFF;
    font-size: 12px;
    margin: 0 79.4062px;
    padding: 24px 0;
}

.video-container{
    width: 100%;
    height: auto;
    background-color: #000000;
}

.pepsi-125-years {
    background-color: black;
}

.video-container video {
    width: 100%;
}

.old-can {
    background-color: black;
}

.old-can img{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #1636ff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

.text h2{
    width: 100%;
    margin-top: 0;
    text-align: center;
    background-color: #000000;
    color: #1636ff;
    font: 60px;
    font-weight: bolder;
    padding: 20px 90px;
}

.pepsi-2023{
    width: 100%;
    background-color: #000000;
}
.pepsi-2023 img{
    display: inline-flex;
    width: 14%;
    margin-left: 18px;
    border: 1px solid #0025ff;
}
.footer{
    width: 100%;
    height: 300px;
    background-color: #0025ff;
    position: absolute;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-content{
    width: 70%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-logo{
    width: 23%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-img{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-img img {
    width: 100px;
    height: auto;
}

.footer-content ul{
    width: 23%;
    height: 75%;
    list-style: none;
    padding: 20px;
    padding-top: 35px;
    color: #fff;
    font-weight: bolder;
    line-height: 25px;
    cursor: pointer;
}

.ficons {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ficons i {
    color: #fff;
    font-size: 1.25rem;
}